<phpunit
        backupGlobals="false"
        processIsolation="true"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./app/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
